body{
  font-family: "Segoe UI",Arial,sans-serif;
  background-color: #ececec;
  font-size: 1.5vw;
}
.container{
  display: grid;
  grid-template-columns:25% 75%;
  grid-template-rows: 15vh 0.7fr 30vh;
  grid-gap: 9px;
  grid-template-areas:
  "banner header"
  "banner header2"
  "banner info";
  height: 650px;
}
.banner{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: banner;
  border-radius: 10%;
  height: 100%;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.banner >span{
  padding: 10px;
  font-size: 1.2vw;
  text-align: left;
  margin: 0 auto;
}
.banner>img{
  padding: 20px;
  margin: 0 auto;
  width:50%;
  border-radius: 50%;
}
.header{
  display: flex;
  flex-direction: row;
  grid-area: header;
  border: 1px solid blue;
}
.info{
  display: flex;
  grid-area: info;
  border: 1px solid blue;
  flex-direction: row;
  justify-content: flex-start;

}
.header2{
  display: flex;
  flex-direction:column;
  grid-area: header2;
  border: 1px solid blue;
}
p{
  width: 100%;
  font-size: 2vw;
}
.part1{
  border: 1px solid blue;
}
.part2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 1px solid blue;
}
.bio{
  border: 1px solid blue;
  margin: 10px;
  width: 29%;
  font-size: 1.1vw;
}
.link{
  border: 1px solid blue;
  margin: 5px;
  width: 20%;
}
.link>a{

}
.link >a>img{
  width :80%;
    border: 1px solid blue;
}
